.calendar {
  width: 100%;
  margin-top: -20px;
  //border: 1px solid red;
  //margin-left: calc(375px + 35px);
  //hacky
  .column {
    display: inline-block;
    //border: 1px solid blue;
    margin-right: -4px;
    width: calc(100% / 6);
  }


  .days {
    .column {
      border-bottom: 1px solid #D8D9D9;
      //margin-right: 20px;
    }
    //position: absolute;
    //left: 480px;
    margin-left: 40px;
    width: calc(100% - 60px);
    height: 65px;
    //border: 1px solid red;
    background: none;
    .day {
      background: none;
      border-radius: 100%;
      // width: 34px;
      // height: 34px;
      margin: 14px auto 0 auto;
      line-height: 34px;
      text-align: left;
      font-size: 14px;
      color: #B6B8B9;

      @include transition(all 0.3s ease-in-out);
    }
    .day.filled {
      // background: #28A3D9;
      // color: #fff;
      @include transition(all 0.3s ease-in-out);
    }
  }
  .slots {
    position: fixed;
    width: calc(100% - 370px);
    height: calc(100% - 150px);
    //border: 1px solid green;
    //overflow: hidden;
    ul.hours {
      width: 40px;
      display: inline-block;
      margin-right: -4px;
      //border: 1px solid yellow;
      float: left;
      // why?

    }
    ul.hours li {
      color: #666666;
      height: 50px;
      font-size: 13px;
      text-align: right;
      padding: 0;
      @include transform(translateY(-13px));
      // center up numbers with lines
      //border: 1px solid red;

    }
    ul.hours li:first-child {
      //margin-top: 65px;

    }
    .day-slots {

      display: inline-block;
      width: 100%;


      height: calc(100% - 60px);
      overflow-y: auto;
      //padding-right: 15px;
      .column-container {
        // Fit slots next to time legend
        width: calc(100% - 40px);

      }

      .column:last-child {

        ul {
        background: #F7F7F7;
        }
      }
      .column {
        height: 65px;
        line-height: 65px;
        padding: 0 10px;
        position: relative;
        //border: 1px solid red;
        ul li {
          height: 50px;
          border-bottom: 1px solid #D6D9DF;
          .half {
            width: 100%;
            height: 50%;
          }
          .half:first-child {
            border-bottom: 1px dotted lighten(#D6D9DF, 0%);
          }
        }
        ul li:first-child {
          border-top: 1px solid #D6D9DF;
        }
        //     @include display(flex);
        // @include align-items(center);
        // @include flex-direction(column);
        // @include justify-content(center);

      }
    }
  }
}