.slideUp {
  @include transform(translateY(-100%));
}

#entry {
  width: 100%;
  height: 100%;
  background: linear-gradient(#485563, #267871);
  @include transition(all 0.3s ease-in-out);

.full-intro {
  height: 700px;
  @include display(flex);
  @include align-items(center);
  @include flex-direction(row);
  @include justify-content(center);
   position: relative;

   h1 {
    font-size: 44px;
    color: #fff;
    text-align: center;
  }

  h3 {
    text-align: center;
    font-size: 19px;
    color: #ABB4BC;
    line-height: 29px;
    margin: 0 0 35px 0;
  }

  .primary {
    padding: 0 13%;

    //padding: 0 100px 200px 0;
    @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);

    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;


  //display: none;
  }

  .primary .btn {
    border: 1px solid #FACE75;
    border-radius: 99px;
    background: #FACE75;
    @include transition(all 0.2s ease-in-out);
  }

  .primary .btn:hover {
    border: 1px solid #289CD4;
    border-radius: 99px;
    background: #289CD4;
    @include transition(all 0.2s ease-in-out);
  }

  .offshoot {
    display: none;
    margin-left: 80px;
    width: 400px;
    background: #fff;
    height: 220px;

    .section:first-child {
      border-bottom: 1px solid #EFEDF2;

       h4 {
        background: #EFEDF2;
      }
    }

     .section:last-child {


       h4 {
        background: #19252D;
        color: rgba(255,255,255,0.8);
      }
    }

    .section {
      width: 100%;
      height: 110px;

       @include display(flex);
      @include align-items(center);
      @include flex-direction(row);
      @include justify-content(center);

      h4 {
        margin: 0;
        display: inline-block;
        line-height: 110px;
        text-align: center;
        margin-right: 40px;
        height: 110px;
        background: #000;
        @include flex(1);


        small {
          display: block;
          margin-top: -40px;
          opacity: 0.7;
          text-transform: uppercase;
        }
      }

      ul {
        display: inline-block;
        //float: right;
        margin-right: 40px;
      }
    }
  }
}





  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: none;
    height: 70px;

    ul {
      float: right;
      margin-right: 40px;

      li a {
        color: rgba(255,255,255,0.8);
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: 70px;

    ul {
      float: right;
      padding: 0 40px;
      height: 70px;
      margin: 0;

      li {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 70px;

        a {
           color: darken(#91A1AD, 15%);
           @include transition(all 0.2s ease-in-out);
        }

        a:hover {
          text-decoration: none;
          @include transition(all 0.2s ease-in-out);
        }
      }
    }
  }
}

.choose-school-overlay {

  min-height: 460px;
  //padding-bottom: 500px;
  background: #fff;
  z-index: 9999;

  input {
    border-radius: 99px;
    clear: both;
    margin: 20px 0 20px 20px;
  }

  .school {
    float: left;
    border: 1px solid #91A1AD;
    text-align: center;
    border-radius: 6px;
    margin: 20px;
     position: relative;
     cursor: pointer;
    @include display(flex);
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(center);
    opacity: 0.7;
    @include transition(all 0.2s ease-in-out);

    width: 100px;
    height: 130px;

    h5 {
      color: darken(#91A1AD, 20%);
      margin: 0;
      margin-top: 10px;
    }

    i {
      color: darken(#91A1AD, 20%);
    }

    .fa-check-circle {
      display: none;
      position: absolute;
      top: 7px;
      right: 7px;
      color: #289CD4;
    }
  }

  .school:hover {
    opacity: 1;
    @include transition(all 0.2s ease-in-out);
  }

  .school.selected {
    opacity: 1;
    .fa-check-circle {
      display: block;
      @include animation(pulse 0.3s ease-in-out);
    }
    border: 1px solid #289CD4;

    h5, i {
      //color: #289CD4;
    }
  }

}

ul.numbers {
  li {
    display: inline-block;
    border: 1px solid #E0E6E9;
    //padding: 10px
    border-radius: 6px;
    text-align: center;
    line-height: 40px;

    height: 40px;
    width: 28px;
    margin-right: 3px;
    color: darken(#E0E6E9, 50%);
    font-weight: bold;
  }
}

.browser {
  width: 75%;
  height: 300px;
  background: #fff;
  box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.30);
  @include border-top-radius(8px);
  -webkit-align-self: flex-end;
   align-self: flex-end;

   .calendar-event {
    width: 80px;
    position: absolute;
    top: 81px;
    left: 410px;

    h5, small {
      display: none;
    }
   }

   .calendar-event:nth-child(2) {
     top: 81px;
    left: 600px;
   }

   .calendar-event:nth-child(3) {
     top: 161px;
    left: 500px;
   }

   .calendar-event:nth-child(4) {
    height: 200px;
     top: 161px;
    left: 600px;
   }

  .head {
    width: 100%;
    height: 27px;
    margin: 0;
    background-image: linear-gradient(lighten(#E4E4E4, 5%), #D5D5D5);
    border-bottom: 1px solid #B1B1B1;
    @include border-top-radius(8px);

    ul {
      margin: 0;

      li {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        margin: 7px 0 0 7px;
        background: darken(#E4E4E4, 20%);
      }

      li:first-child {
        background: darken(#E4E4E4, 40%);
      }

      li:nth-child(2) {
        background: darken(#E4E4E4, 30%);
      }
    }
  }

  .body {
    height: calc(100% - 27px);
    overflow: hidden;
    .slots {
      position: absolute;
     // overflow: hidden;
    }
    .grid {
      .content {
        overflow: hidden;
      }
      .bar {
        background: #19252D;
        position: relative;
        overflow: hidden;
        .filter {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 999;
          width: 100%;
          height: 55px;
          background: #152026;

          input {
            position: relative;
            border: none;
          }

          .filter-buttons {
            position: absolute;
            right: 0;
            z-index: 999;
          }
        }
        ul {
          margin: 55px 0 0 0 ;
        }
        ul li {
          padding: 20px;
          border-bottom: 1px solid #303B41;
          small {
            color: #7E7E7E;
          }

          h4 {
            margin: 0;
            color: #fff;
            font-size: 16px;
          }
        }
      }
    }
  }
}