@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Exo+2:400,300,500,600,700);

#schedule {

  .schedule {
    padding-top: 65px;
  }

  .options {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 999;
    background: #fff;
    height: 34px;
    line-height: 34px;
    margin-top: 12px;
    padding: 0 14px;
    border-radius: 99px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    i {
      color: #4B4B4B;
      position: relative;
    }
  }
  .options-inner {
    display: none;
    position: absolute;
    top: 10px;
    right: 50px;
    width: 200px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    background: #fff;
    z-index: 9999;
    h6 {
      margin: 0;
      margin: 20px;
      color: #666666;
      border-bottom: 1px solid #ccc;
      text-transform: uppercase;
    }
    label {}
    label:before {
      content: "";
      display: inline-block;
    }
    input[type=radio]:checked + label:before {}
    input[type=radio] {
      display: none;
    }
  }
  .courses {
    // position: fixed;
    // // to stop scroll
    // left: 80px;
    // width: 330px;
    // for now
    // border-right: 1px solid #D6D9DF;
    // overflow-x: hidden;
    // //height: 100%;
    // overflow-y: auto;
    background: #19252D;
    height: 100%;
    .no-results {
      width: 250px;
      margin-top: 50px;
      h6 {
        color: #fff;
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
      }
      .btn {
        display: block;
        background: none;
        border: 1px solid #1D9BD6;
        border-radius: 99px;
        padding: 6px 0px;
        width: 80px;
        margin: 0 auto;
        text-align: center;
        @include transition(all 0.2s ease-in-out);
      }
      .btn:hover {
        background: #1D9BD6;
        @include transition(all 0.2s ease-in-out);
      }
    }
    .filter {
      width: 250px;
      position: fixed;
      top: 0;
      left: 0;
      background: darken(#19252D, 2%);
      height: 60px;
      z-index: 999;
      overflow: hidden;
    }
    .course-list {
      height: calc(100% -60px);
      overflow-y: scroll;
      background: #19252D;
      margin-top: 30px;
      .add {
        h4 {
          text-align: center;
          color: #fff;
          font-size: 14px;
          @include transform(translateY(10px));
          //hacky

        }
        .btn {
          background: none;
          border: 1px solid #1D9BD6;
          border-radius: 0px;
          padding: 5px 20px;
          margin-left: 120px;
          //hacky
          @include transition(0.2s ease-in-out all);
        }
        .btn:hover {
          background: #1D9BD6;
          @include transition(0.2s ease-in-out all);
        }
      }
      li {
        .row {
          margin: 0;
        }
        padding: 20px;
        background: #19252D;
        margin: 0 !important;
        small {
          //color: rgba(255,255,255,0.5);

        }
        h5 {
          color: #fff;
        }
      }
    }
    input[type="text"] {
      border: none;
    }
    li:hover {
      background: lighten(#19252D, 10%);
      @include transition(all 200ms cubic-bezier(0.19, 1, 0.22, 1));
    }
    li.unavailable {
      cursor: initial;
      opacity: 0.5;
    }
  }
  .column-7 {
    margin-left: 375px;
    ul.course-list {
      li {
        background: none;
        @include animation(pulse 0.3s ease-in-out);
      }
    }
  }
  .summary {
    background: #fff;
    width: 330px;
    position: fixed;
    top: 0px;
    right: 0;
    height: 100%;
    border-left: 1px solid #D6D9DF;
    opacity: 0;
    timesofday {
      display: block;
      @include transform(translate(40px, 0));
      //hacky
      @include filter(contrast(120%));
    }
    .visualization {
      //height: 94px;
      margin: 0;
      background: lighten(#EAEBEE, 5%);
      //border: 1px solid red;

    }
    h5:first-child {
      margin-top: 30px;
      margin-left: -4px;
    }
    h5: last-child {
      margin-left: -4px;
    };
    h5 {
      font-size: 13px;
      margin: 0;
    }
    .course-list:after {
      content: "";
      display: block;
      position: fixed;
      bottom: 0;
      right: 0;
      width: 329px;
      height: 50px;
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    }
    .course-list {
      position: fixed;
      overflow-y: auto;
      width: 330px;
      height: calc(100% - 370px);
      // slightly hacky
      border-top: 1px solid rgba(214, 217, 223, 1);
      margin: 0;
      li: nth-child(even) {
        background: rgba(214, 217, 223, 0.2);
      };
      li {
        @include animation(fadeInDown 0.3s cubic-bezier(0.23, 1, 0.32, 1));
        padding: 12px 0;
        margin-bottom: 0;
        h5 {
          overflow: hidden;
          white-space: nowrap;
        }
        .row {
          margin: 0;
          height: 100%;
        }
        .column-12 {}
        .column-2 {
          text-align: center;
          i {
            padding-top: 16px;
            //hacky
            vertical-align: middle;
          }
          i.fa-clock-o {
            //color: #42ADDD;
            color: #666;
          }
          i.fa-times-circle {
            color: darken(#D6D9DF, 10%);
            @include transition(0.2s ease-in-out);
          }
          i.fa-times-circle:hover {
            color: darken(#D6D9DF, 30%);
            @include transition(0.2s ease-in-out);
          }
        }
      }
    }
    .numbers {
      margin: 0;
      .column-8 {
        padding: 17px 0;
        text-align: center;
        border-top: 1px solid rgba(214, 217, 223, 1);
        h3 {
          margin: 0px 0 0 0;
          padding-top: 8px;
          line-height: 16px;
        }
        small {
          margin: 0;
          color: darken(#E6E6E6, 20%);
        }
      }
      .column-8: last-child {
        border-left: 1px solid rgba(214, 217, 223, 1);
      };
    }
  }
}

ul.course-list {
  padding: 0;
  li {
    padding: 20px;
    margin: 0;
    padding-bottom: 10px;
    cursor: pointer;
    background: #fff;
    //border: 1px solid red;
    @include transition(all 200ms cubic-bezier(0.19, 1, 0.22, 1));
    small {
      color: #7E7E7E;
      display: block;
    }
    small.time {
      color: #1D9BD6;
    }
    h5 {
      margin: 0;
      padding: 0;
    }
  }
  li: nth-child(odd) {
    //background: lighten(#C9C9C9, 18%);
  };
}

.count {
  small {
    font-family: 'Exo', sans-serif;
    font-weight: 700;
  }
  small:first-child {
    font-size: 16px;
  }
  small: last-child {
    font-weight: 400;
    font-size: 12px;
  };
}

major {
  display: inline-block;
  border: 1px solid #7E7E7E;
  border-radius: 2px;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
}

.filter-buttons {
  display: block;
  //border: 1px solid green;
  width: 102px;
  float: right;
  margin: 10px 0 0 10px;
  @include transform(translateX(14px)); //hacky
  @include transition(all 0.3s ease-in-out);
  opacity: 1;

  .btn {
    border: none;
    height: 37px;
    padding: 0 10px;
    line-height: 39px;
    color: #898F92;
    background: none;
  }
  .btn.active {
    //background: #898F92;
    color: #1D9BD6;
  }
  .btn:first-child {
    @include border-left-radius(6px);
    margin-right: -4px;
  }

  .btn:last-child {
    @include border-right-radius(6px);
  }
}

.filter-results {
  position: fixed;
  //border: 1px solid red;
  background: rgba(0,0,0,0.3);
  width: 250px;
  height: 100%;
  //pointer-events: none;
  @include animation-duration(0.2s);
}

.filter-results.fadeIn {
  //pointer-events: default;
}

#course-results {
  //border: 1px solid red;
  background: none !important;
  padding-top: 30px;
  li {
    background: rgba(24,36,44,0.9);
    border-bottom: 1px solid lighten(#18242C, 10%);

    small .time {
        display: inline-block;
        float: right;
      }
  }

  // Should be .active, will add in a sec
  li.active {
    background: #1D9BD6 !important;

    small {
      color: rgba(255,255,255,0.8);
    }

    .time {
      color: #18242C;
    }
  }

  li:last-child {
    border: none;
  }
}

input[type="text"].active + .filter-buttons {
  //@include transform(translateX(100px));
  @include transform(translateX(100%));
  opacity: 0;
  @include transition(all 0.2s ease-in-out);
}

.filter .fa-search {
  position: absolute;
  top: 21px;
  left: 21px;
  z-index: 999;
  color: #959FA6;
  font-size: 13px;
}
input[type="text"].add-course {
  display: block;
  z-index: 99;
  background: none;
  float: left;
  //width: 100%;
  //line-height: 48px; //hacky
  //hacky
  position: fixed;
  margin: 4px 0 0 12px;
  //margin-top: 5px; //hacky
  padding-left: 30px;
  height: 37px;
  width: 140px;
  background: #2C404F;
  display: inline-block;
  @include transition(all 0.2s ease-in-out);
  border-radius: 6px;
  @include transform(translateY(6px));
  //hacky
  color: #fff;
  @include placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

input[type="text"].add-course.active {
  width: 166px;
  @include transition(all 0.2s ease-in-out);
}

.search:before {
  content: "\f002";
  position: absolute;
  font-family: FontAwesome;
  font-size: 14px;
  top: 6px;
  left: 10px;
  color: #959FA6;
  z-index: 999;
}

.btn.cancel {
  background: none;
  display: block;
  position: absolute;
  height: 65px;
  line-height: 63px;
  padding-top: 0;
  padding-bottom: 0;
  top: 0;
  right: -20px;
  color: rgba(255,255,255,0.9);

  opacity: 0;
  @include transform(scale(0));
  @include transition(all 0.3s ease-in-out);

  // @include animation(zoomIn 0.3s ease-in-out);
  // @include animation-fill-mode(both);
}

.btn.cancel.show {
  opacity: 1;
  @include transform(scale(1));
  @include transition(all 0.3s ease-in-out);
}

.flip-modal {
  z-index: 100;
}

.flip-modal, .add-course-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 370px;
  perspective: 100;
}

.add-course-modal {
  position: relative;
  @include animation(flipInCard 0.3s ease-in-out);
  background: lighten(#19252D, 3%);
}

@include keyframes(flipInCard) {
  from {
    @include transform(translateX(-100%));
    //@include transform(rotateY(-180deg));

  }
  to {
    @include transform(translateX(0px));
    //@include transform(rotateY(0deg));

  }
}


.generated-schedules {
  width: 100%;
  height: 60px;
  background: lighten(#D1D4DA, 10%);
  //margin-left: -1px; //hacky
  //overflow: hidden;
  ul {
    margin: 0;
  }
  li {
    display: none;
    height: 60px;
    padding: 0 30px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    @include animation(fadeInLeft 0.3s ease-in-out);
    @include animation-delay(0.1s);
    @include animation-fill-mode(both);
    z-index: 6;
  }
  li:hover {
    background: lighten(#D1D4DA, 5%);
  }
  li.active {
    background: #fff;
    color: #4B4B4B;
    border-top: 2px solid #1D9BD6;
  }
  li:nth-child(2) {
    @include animation-delay(0.2s);
    z-index: 5;
  }
  li:nth-child(3) {
    @include animation-delay(0.3s);
    z-index: 4;
  }
  li:nth-child(4) {
    @include animation-delay(0.4s);
    z-index: 3;
  }
  li:nth-child(5) {
    @include animation-delay(0.5s);
    z-index: 2;
  }
  li:nth-child(6) {
    @include animation-delay(0.6s);
    z-index: 1;
  }
}

.schedule-courses {
  background: lighten(#D1D4DA, 15%);
}