@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic);


html, body {
  width: 100%;
  height: 100%;
}

body {
    background: #fff;
    font-family: 'Quattrocento Sans', sans-serif;
    color: #333;
}

@import '../components/bourbon/dist/bourbon';

@import 'header';
@import 'calendar';
