@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic);


html, body {
  width: 100%;
  height: 100%;
}

body {
    background: #fff;
    font-family: 'Quattrocento Sans', sans-serif;
    color: #333;
}

@import '../components/bourbon/dist/bourbon';

@import 'header';
@import 'entry';
@import 'schedule';
@import 'catalog';
@import 'course';

@import 'available';
@import 'calendar';
@import 'calendar-event';

.blurred {
  @include filter(blur(5px));
  @include transition(all 0.3s ease-in-out);
}

.overlay {
  //display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 99;
  background: rgba(0,0,0,0.5);
  @include animation(fadeIn 0.2s ease-in-out);
}