<!-- Simple two column view -->
<div id="catalog">
  <div class="header">
    <div class="search"><div class="search-icon"><i class="fa fa-search"></i></div><input type="text" name="name" ng-model="search" placeholder="Search" /></div>

  </div>

  <div class="row">
     <!-- List courses to choose -->
    <div class="column-4">
      <!-- Search (course id, course name, professor) -->

      <!-- Filter options (major, time, day, show only open) -->

      <!-- Courses -->
      <ul class="list-unstyled">
        <li ng-repeat="course in courses">
          <!-- {{course.name}} -->
        </li>
      </ul>
    </div>

    <!-- Detailed course info (course description, average grade, worth it rating, hardness rating, link to rate my professor) -->
    <div class="column-12">
      <!-- Course view -->
      <div ui-view>
      </div>
    </div>
  </div>
</div>