<div id="sections">
    <form>
        <div class="form-item">
            <label for="starts">Starts:</label>
            <input type="text" ng-model="course.sections[sections.length].starts" name="starts" placeholder="ex. 10AM" />
        </div>

        <div class="form-item">
            <label for="ends">Ends:</label>
            <input type="text" ng-model="course.sections[sections.length].ends" name="ends" placeholder="ex. 10:50AM" />
        </div>

        <div class="form-item">
            <label for="meets">Meets:</label>
            <input type="text" name="name"  ng-model="course.sections[sections.length].meets" placeholder="ex. MWF" />
        </div>

        <div class="form-item">
            <label for="location">Location:</label>
            <input type="text" name="location"  ng-model="course.sections[sections.length].location" placeholder="ex. BK213" />
        </div>

        <div class="form-item">
            <label for="credits">Proffesor:</label>
            <select name="level" ng-model="course.sections[sections.length].professor">
                <option name="german" value="0">Rene German</option>
                <option name="fluger" value="1">Lance Fluger</option>
                <option name="mohamad" value="2">Allali Mohamad</option>
            </select>
        </div>
       </form>
        <div class="btn btn-small back" ng-click="back('/schedule/add/info')">Back</div>
        <div class="btn btn-small bg-green" ng-click="complete()" ng-disabled="completed">Complete</div>
    </div>