<!-- Schedules row -->

<!-- Days row -->
<div class="calendar">
    <div class="days">
        <div class="column">
            <div class="day">Mon</div>
        </div>
        <div class="column">
            <div class="day">Tue</div>
        </div>
        <div class="column">
            <div class="day">Wed</div>
        </div>
        <div class="column">
            <div class="day">Thu</div>
        </div>
        <div class="column">
            <div class="day">Fri</div>
        </div>
        <div class="column">
            <div class="day">Sat</div>
        </div>
    </div>
    <!-- Hours column, days columns-->
    <div class="slots">
        <div class="day-slots">
            <ul class="list-unstyled hours">
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>noon</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
            </ul>
            <div class="column-container">
                <!-- Monday courses -->
                <div class="column">
                    <div event="section" ng-class="{'calendar-event-optional': !section.selected}" ng-repeat="section in schedule.mondays" class="calendar-event">

                        <h5>{{section.course.courseId}}-{{section.sectionNumber}}</h5>
                        <small>{{section.location}}</small>



                    </div>

                    <ul class="list-unstyled">
                        <li ng-repeat="hour in getHours() track by $index">
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                    </ul>
                </div>
                <!-- Tuesday courses -->
                <div class="column">
                    <div event="section" ng-class="{'calendar-event-optional': !section.selected}" ng-repeat="section in schedule.tuesdays" class="calendar-event">

                        <h5>{{section.course.courseId}}-{{section.sectionNumber}}</h5>
                        <small>{{section.location}}</small>


                    </div>
                    <ul class="list-unstyled">
                        <li ng-repeat="hour in getHours() track by $index">
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                    </ul>
                </div>
                <!-- Wednesday courses -->
                <div class="column">
                    <div event="section" ng-class="{'calendar-event-optional': !section.selected}" ng-repeat="section in schedule.wednesdays" class="calendar-event">

                        <h5>{{section.course.courseId}}-{{section.sectionNumber}}</h5>
                        <small>{{section.location}}</small>

                    </div>
                    <ul class="list-unstyled">
                        <li ng-repeat="hour in getHours() track by $index">
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                    </ul>
                </div>
                <!-- Thursday courses -->
                <div class="column">
                    <div event="section" ng-class="{'calendar-event-optional': !section.selected}" ng-repeat="section in schedule.thursdays" class="calendar-event">
                        <h5>{{section.course.courseId}}-{{section.sectionNumber}}</h5>
                        <small>{{section.location}}</small>
                    </div>
                    <ul class="list-unstyled">
                        <li ng-repeat="hour in getHours() track by $index">
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                    </ul>
                </div>
                <!-- Friday courses -->
                <div class="column">
                    <div event="section" ng-class="{'calendar-event-optional': !section.selected}" ng-repeat="section in schedule.fridays" class="calendar-event">
                        <h5>{{section.course.courseId}}-{{section.sectionNumber}}</h5>
                        <small>{{section.location}}</small>
                    </div>
                    <ul class="list-unstyled">
                        <li ng-repeat="hour in getHours() track by $index">
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                    </ul>
                </div>
                <!-- Saturday courses -->
                <div class="column">
                    <div event="section" ng-class="{'calendar-event-optional': !section.selected}" ng-repeat="section in schedule.saturdays" class="calendar-event">
                        <h5>{{section.course.courseId}}-{{section.sectionNumber}}</h5>
                        <small>{{section.location}}</small>
                    </div>
                    <ul class="list-unstyled">
                        <li ng-repeat="hour in getHours() track by $index">
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                    </ul>
                </div>
            </div>
            </div> <!-- end dayslots-->
            </div> <!-- end slots -->
        </div>