<div>

  <!-- Search -->
  <div class="search">
    <input type="text" name="search" placeholder="Find courses" />
  </div>

  <!-- Catalog/wishlist toggle -->
  <div class="pills">
    <div class="pill active">Catalog</div>
    <div class="pill">Saved</div>
  </div>

  <div class="table-responsive">
    <table class="table-full">
       <thead>
          <tr>
            <td>
              <input type="checkbox" id="all" />
              <label for="all"></label>
            </td>
            <td>Term</td>
            <td>Course</td>
            <td>GE</td>
            <td>Title</td>
            <td>Sections</td>
            <td>Likes</td>
            <td><!-- for like button --></td>
          </tr>
       </thead>

       <tbody>
        <tr>
            <td>
              <input type="checkbox" id="1" />
              <label for="1"></label>
            </td>
            <td>Fall</td>
            <td>CPSC-353</td>
            <td>7EI</td>
            <td>Computer Networks</td>
            <td>1</td>
            <td>11 likes</td>
            <td><i class="fa fa-heart-o"></i></td>
          </tr>

          <tr>
            <td>
              <input type="checkbox" id="2" />
              <label for="2"></label>
            </td>
            <td>Fall</td>
            <td>CPSC-353</td>
            <td></td>
            <td>Computer Networks</td>
            <td>1</td>
            <td>11 likes</td>
            <td><i class="fa fa-heart-o"></i></td>
          </tr>

          <tr>
            <td>
              <input type="checkbox" id="3" />
              <label for="3"></label>
            </td>
            <td>Fall</td>
            <td>CPSC-353</td>
            <td></td>
            <td>Computer Networks</td>
            <td>1</td>
            <td>11 likes</td>
            <td><i class="fa fa-heart"></i></td>
          </tr>

          <tr>
            <td>
              <input type="checkbox" id="4" />
              <label for="4"></label>
            </td>
            <td>Fall</td>
            <td>CPSC-353</td>
            <td>7EI, 4AJ</td>
            <td>Computer Networks</td>
            <td>1</td>
            <td>11 likes</td>
            <td><i class="fa fa-heart"></i></td>
          </tr>
       </tbody>
    </table>
  </div>
</div>