<div id="entry" ng-class="{slideUp: choosing}">
<div class="full-intro">
  <div class="header">
    <ul class="list-inline">
     <li><a href="/contribute"><i class="fa fa-question-circle"></i> How it works</a></li>
      <li><a href="/api"><i class="fa fa-tasks"></i> Features</a></li>
      <li><a href="/contribute"><i class="fa fa-university"></i> Schools</a></li>
    </ul>
  </div>

  <div class="primary">
    <h1>An open schedule builder for students.</h1>
    <div class="btn" ng-click="choosing = true">Choose your school</div>
  </div>

  <div class="offshoot">
    <div class="section">
      <h4>Schedules <small>created</small></h4>
      <ul class="list-inline numbers">
        <li>0</li>
        <li>5</li>
        <li>1</li>
        <li>8</li>
      </ul>
    </div>

    <div class="section">
       <h4>Schools <small>supported</small></h4>
      <ul class="list-inline numbers">
        <li>0</li>
        <li>3</li>
        <li>0</li>
        <li>1</li>
      </ul>
    </div>

  </div>
</div>
  <!-- <div class="choose-school-overlay">
    <div class="school">
      <i class="fa fa-university"></i>
      <h5>Chapman University</h5>
    </div>

    <div class="school selected">
      <i class="fa fa-check-circle"></i>
      <i class="fa fa-university"></i>
      <h5>UCI</h5>
    </div>

    <div class="school">
      <i class="fa fa-university"></i>
      <h5>UCLA</h5>
    </div>
  </div> -->

  <div class="footer">
    <ul class="list-inline">
      <li><a href="/api">API</a></li>
      <li><a href="/contribute">Contribute</a></li>
      <li><a href="/help">Help</a></li>
    </ul>
  </div>
</div>

