<div id="schedule">
  <div class="row">
    <!-- List courses to choose -->
    <div class="column-6 courses">
      <!-- Search (course id, course name, professor) -->
      <div class="search"><div class="search-icon"><i class="fa fa-search"></i></div><input type="text" name="name" ng-model="search" placeholder="Search" /></div>

      <!-- Filter options (major, time, day, show only open) -->

      <!-- Courses -->
      <div class="course-list">
      <ul class="list-unstyled">
        <li ng-repeat="course in availableCourses | filter:search | orderBy:['id','name']" ng-class="{unavailable: course.availableSpots === 0}">
          <div class="row" style="height: 100%";>
            <div class="column-4">
              <available taken="{{course.totalSpots - course.availableSpots}}" max="{{course.availableSpots}}"></available>
            </div>

            <div class="column-12">
              <small>{{course.id}}</small>
              <small class="time">{{course.meets}}, {{course.time}}</small>
              <h5>{{course.name}}</h5>
            </div>
          </div>
        </li>
      </ul>
      </div>
    </div>

    <!-- Visually represent the schedule -->
    <div class="column-6">
        <!-- <calendar></calendar> -->
    </div>

    <!-- Summary of schedule -->
    <div class="column-4">
       <!-- <h1>My schedule</h1> -->
    </div>

  </div>
</div>