<div id="schedule" class="grid columns split250">


    <!-- Schedule options -->
    <div class="options-inner">
       <h6>Time</h6>
       <form>
        <label for="time-night"><i class="fa fa-moon-o"></i></label>
        <input type="radio" name="time-night" value="night" />
       </form>

       <h6>Spread</h6>


    </div>

    <div class="bar">
        <!-- Available courses -->


        <div class="courses">
            <div class="filter">
                <div class="btn" ng-class="{active: showingStarred}" ng-click="showStarred(true)"><i class="fa fa-star"></i></div>
                <div class="btn" ng-class="{active: !showingStarred}" ng-click="showStarred(false)"><i class="fa fa-align-left"></i></div>

                <!-- Search (course id, course name, professor) -->
                <div class="search"><div class="search-icon"><i class="fa fa-search"></i></div><input type="text" name="name" ng-model="search" placeholder="" /></div>
            </div>

            <!-- Courses -->
            <div class="course-list">
                <div class="no-results" ng-hide="filteredCourses.length">
                  <h6>Course not there?</h6>
                  <div class="btn btn-small" ng-click="addCourse()">Add It</div>
                </div>

                <ul class="list-unstyled course-list">
                    <li ng-repeat="course in filteredCourses = (availableCourses | filter:search | orderBy:['id','name'])" ng-class="{unavailable: course.availableSpots === 0, unavailable: course.picked}" ng-click="pick(course)">
                        <div class="row" style="height: 100%";>


                            <div class="column-16">
                                <small>{{course.id}}</small>
                                <small class="time">{{course.meets}}, {{course.time}}</small>
                                <h5>{{course.name}}</h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="content">

        <div class="grid rows split60">
            <div class="bar generated-schedules">
                <!-- Option button -->
                <div class="options">
                    <i class="fa fa-cog"></i>

                </div>
                <!-- Schedules -->
                <ul class="list-inline">
                    <li class="active">A</li>
                    <li>B</li>
                    <li>C</li>
                </ul>

            </div>
            <div class="content">
                <calendar></calendar>
            </div>
        </div>
    </div>
    <!-- Show course modal -->
    <div ui-view style="width: 100%; height: 100%"></div>
</div>