@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Exo+2:400,300,500,600,700);
html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #fff;
  font-family: 'Quattrocento Sans', sans-serif;
  color: #333;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  line-height: 65px;
  border-bottom: 1px solid #D6D9DF;
  margin: 0;
  padding: 0 40px;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
#header ul {
  display: block;
  margin: 0;
}
#header ul li {
  padding: 0 10px;
}
#header ul li a {
  color: #7E7E7E;
  transition: all 200ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
#header ul li a:hover {
  color: #5DC9E6;
  text-decoration: none;
  transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
#header ul li.active a i {
  color: #5DC9E6;
  background: linear-gradient(#1D9BD6, #5DC9E6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#header .user {
  position: absolute;
  top: 0;
  right: 0;
  height: 65px;
  width: 330px;
  border-bottom: 1px solid #D6D9DF;
}
#header .user .titles, #header .user img {
  display: inline-block;
}
#header .user img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: 12px 0px 0 0;
  float: right;
  border: 3px solid #80899c;
}
#header .user i {
  display: block;
  float: right;
  line-height: 30px;
  text-align: right;
  padding-right: 4px;
  margin: 18px 10px 0 -8px;
  width: 30px;
  height: 30px;
  background: #80899c;
  border-radius: 100%;
  color: #fff;
}
#header .user .titles {
  padding: 10px;
  padding-top: 16px;
  text-align: right;
  float: right;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}
#header .user .titles h5, #header .user .titles h6 {
  margin: 0;
}
#header .user .titles h5 {
  margin-bottom: -4px;
  color: #4b4b4b;
  font-weight: 700;
}
#header .user .titles h6 {
  text-align: right;
  color: #80899C;
}

#schedule .courses {
  position: fixed;
  left: 80px;
  width: 330px;
  border-right: 1px solid #D6D9DF;
  overflow-x: hidden;
  height: 100%;
  overflow-y: auto;
  background: #fff;
}
#schedule .courses .filter {
  background: #152026;
  height: 65px;
  .btn: last-child;
}
#schedule .courses .filter .btn:first-child {
  margin-right: -4px;
}
#schedule .courses .filter .btn {
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  margin: 0;
  background: #152026;
  height: 65px;
  line-height: 65px;
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
}
#schedule .courses .filter .btn.active {
  color: #1D9BD6;
}
#schedule .courses .search {
  display: inline-block;
  height: 65px;
  background: none;
  width: calc(100% - 100px);
  margin: 0px;
  margin-left: -4px;
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}
#schedule .courses .search input[type="text"] {
  margin: 0;
  height: 37px;
  width: calc(100% - 55px);
  background: #2C404F;
  display: inline-block;
  border-top-right-radius: 99px;
  border-bottom-right-radius: 99px;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  color: #fff;
}
#schedule .courses .search input[type="text"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#schedule .courses .search input[type="text"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#schedule .courses .search input[type="text"]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#schedule .courses .search input[type="text"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#schedule .courses .search .search-icon {
  height: 37px;
  display: inline-block;
  line-height: 37px;
  border-top-left-radius: 99px;
  border-bottom-left-radius: 99px;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  width: 40px;
  text-align: center;
  background: #2C404F;
  color: rgba(255, 255, 255, 0.5);
}
#schedule .courses .course-list {
  height: 100%;
  overflow-y: scroll;
  background: #19252D;
}
#schedule .courses .course-list li {
  padding: 20px;
  background: #19252D;
  margin: 0 !important;
}
#schedule .courses .course-list li .row {
  margin: 0;
}
#schedule .courses .course-list li h5 {
  color: #fff;
}
#schedule .courses input[type="text"] {
  border: none;
}
#schedule .courses li:hover {
  background: #2b404e;
  transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
}
#schedule .courses li.unavailable {
  cursor: initial;
  opacity: 0.5;
}
#schedule .column-7 {
  margin-left: 375px;
}
#schedule .column-7 ul.course-list li {
  background: none;
  -webkit-animation: pulse 0.3s ease-in-out;
  animation: pulse 0.3s ease-in-out;
}
#schedule .overview {
  width: calc(100% - 375px);
  margin-left: calc(375px + 35px);
}
#schedule .overview .column {
  display: inline-block;
  margin-right: -4px;
  width: calc(100% / 6);
}
#schedule .overview .days {
  position: absolute;
  left: 480px;
  width: calc(100% - 480px);
  height: 65px;
  background: #fff;
}
#schedule .overview .days .day {
  background: #D6D9DF;
  border-radius: 100%;
  width: 34px;
  height: 34px;
  margin: 14px auto 0 auto;
  line-height: 34px;
  text-align: center;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
#schedule .overview .days .day.filled {
  transition: all 0.3s ease-in-out;
}
#schedule .overview .slots {
  position: fixed;
  width: calc(100% - 410px);
  height: 100%;
}
#schedule .overview .slots ul.hours {
  width: 70px;
  display: inline-block;
  margin-right: -4px;
  float: left;
}
#schedule .overview .slots ul.hours li {
  color: #666666;
  height: 50px;
  font-size: 13px;
  text-align: right;
  padding: 0;
  -webkit-transform: translateY(-13px);
  transform: translateY(-13px);
}
#schedule .overview .slots .day-slots {
  position: fixed;
  top: 60px;
  left: 410px;
  display: inline-block;
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: auto;
}
#schedule .overview .slots .day-slots .column-container {
  width: calc(100% - 480px);
}
#schedule .overview .slots .day-slots .column {
  height: 65px;
  line-height: 65px;
  padding: 0 10px;
  position: relative;
}
#schedule .overview .slots .day-slots .column ul li {
  height: 50px;
  border-bottom: 1px solid #D6D9DF;
}
#schedule .overview .slots .day-slots .column ul li .half {
  width: 100%;
  height: 50%;
}
#schedule .overview .slots .day-slots .column ul li .half:first-child {
  border-bottom: 1px dotted #d6d9df;
}
#schedule .overview .slots .day-slots .column ul li:first-child {
  border-top: 1px solid #D6D9DF;
}
#schedule .summary {
  background: #fff;
  width: 330px;
  position: fixed;
  top: 0px;
  right: 0;
  height: 100%;
  border-left: 1px solid #D6D9DF;
  opacity: 0;
  h5: last-child;
  h5-margin-left: -4px;
}
#schedule .summary timesofday {
  display: block;
  -webkit-transform: translate(40px, 0);
  transform: translate(40px, 0);
  -webkit-filter: contrast(120%);
  filter: contrast(120%);
}
#schedule .summary .visualization {
  margin: 0;
  background: #f8f8f9;
}
#schedule .summary h5:first-child {
  margin-top: 30px;
  margin-left: -4px;
}
#schedule .summary h5 {
  font-size: 13px;
  margin: 0;
}
#schedule .summary .course-list:after {
  content: "";
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 329px;
  height: 50px;
  background: linear-gradient(rgba(255, 255, 255, 0), white);
}
#schedule .summary .course-list {
  position: fixed;
  overflow-y: auto;
  width: 330px;
  height: calc(100% - 370px);
  border-top: 1px solid #d6d9df;
  margin: 0;
  li: nth-child(even);
  li-background: rgba(214, 217, 223, 0.2);
}
#schedule .summary .course-list li {
  -webkit-animation: fadeInDown 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  animation: fadeInDown 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 12px 0;
  margin-bottom: 0;
}
#schedule .summary .course-list li h5 {
  overflow: hidden;
  white-space: nowrap;
}
#schedule .summary .course-list li .row {
  margin: 0;
  height: 100%;
}
#schedule .summary .course-list li .column-2 {
  text-align: center;
}
#schedule .summary .course-list li .column-2 i {
  padding-top: 16px;
  vertical-align: middle;
}
#schedule .summary .course-list li .column-2 i.fa-clock-o {
  color: #666;
}
#schedule .summary .course-list li .column-2 i.fa-times-circle {
  color: #b9bec9;
  transition: 0.2s ease-in-out;
}
#schedule .summary .course-list li .column-2 i.fa-times-circle:hover {
  color: #80899c;
  transition: 0.2s ease-in-out;
}
#schedule .summary .numbers {
  margin: 0;
  .column-8: last-child;
  .column-8-border-left: 1px solid #d6d9df;
}
#schedule .summary .numbers .column-8 {
  padding: 17px 0;
  text-align: center;
  border-top: 1px solid #d6d9df;
}
#schedule .summary .numbers .column-8 h3 {
  margin: 0px 0 0 0;
  padding-top: 8px;
  line-height: 16px;
}
#schedule .summary .numbers .column-8 small {
  margin: 0;
  color: #b3b3b3;
}

ul.course-list {
  padding: 0;
  li: nth-child(odd);
}
ul.course-list li {
  padding: 20px;
  margin: 0;
  padding-bottom: 10px;
  cursor: pointer;
  background: #fff;
  transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
}
ul.course-list li small {
  color: #7E7E7E;
  display: block;
}
ul.course-list li small.time {
  color: #1D9BD6;
}
ul.course-list li h5 {
  margin: 0;
  padding: 0;
}

.count {
  small: last-child;
  small-font-weight: 400;
  small-font-size: 12px;
}
.count small {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
}
.count small:first-child {
  font-size: 16px;
}

major {
  display: inline-block;
  border: 1px solid #7E7E7E;
  border-radius: 2px;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
}

available {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
available svg {
  display: block;
}

available:hover svg {
  opacity: 0;
}

.calendar {
  width: 100%;
  height: 100%;
}
.calendar tr, .calendar td, .calendar body {
  border-left: none;
}
.calendar th {
  font-size: 13px;
}
.calendar .time {
  border-top: none;
  border-left: none;
  border-bottom: none;
  font-size: 11px;
  color: #B3B3B3;
}

.calendar-event {
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  width: calc(100% - 20px);
  padding: 0 10px;
  margin: 0 10px;
  background: rgba(255, 237, 210, 0.7);
  border-radius: 5px;
  border: 1px solid #ffe3b8;
  z-index: 9999;
  color: #A66100;
  height: 50px;
  -webkit-animation: flipInX 0.5s cubic-bezier(1, 0.25, 0.4, 0.34);
  animation: flipInX 0.5s cubic-bezier(1, 0.25, 0.4, 0.34);
}
.calendar-event h5 {
  font-weight: 700;
  margin: 0;
  color: #A66100;
  font-size: 14px;
}
.calendar-event small {
  margin: -8px 0 0 0;
  display: block;
  font-size: 13px;
}

.calendar-event.orange {
  color: #90471b;
  background: rgba(251, 202, 179, 0.7);
  border: 1px solid #f8a883;
}
.calendar-event.orange h5 {
  color: #90471b;
}

.calendar-event.purple {
  color: #7F4083;
  background: rgba(212, 187, 213, 0.7);
  border: 1px solid rgba(210, 184, 211, 0.7);
}
.calendar-event.purple h5 {
  color: #7F4083;
}

.calendar-event.green {
  color: #446a29;
  background: rgba(197, 225, 177, 0.7);
  border: 1px solid #b7da9f;
}
.calendar-event.green h5 {
  color: #446a29;
}

.calendar-event.red {
  color: #AA646A;
  background: rgba(235, 182, 190, 0.7);
  border: 1px solid #e6a2ac;
}
.calendar-event.red h5 {
  color: #AA646A;
}
