<!-- Days row -->
<div class="calendar">
    <div class="days">
        <div class="column">
            <div class="day" ng-class="{filled: Calendar.mondays.length}">M</div>
        </div>

        <div class="column">
            <div class="day" ng-class="{filled: Calendar.tuesdays.length}">T</div>
        </div>

        <div class="column">
            <div class="day" ng-class="{filled: Calendar.wednesdays.length}">W</div>
        </div>

        <div class="column">
            <div class="day" ng-class="{filled: Calendar.thursdays.length}">T</div>
        </div>

        <div class="column">
            <div class="day" ng-class="{filled: Calendar.fridays.length}">F</div>
        </div>

        <div class="column">
            <div class="day" ng-class="{filled: Calendar.saturdays.length}">S</div>
        </div>
    </div>

    <!-- Hours column, days columns-->
    <div class="slots">

        <div class="day-slots">
            <ul class="list-unstyled hours">
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>noon</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
            </ul>


            <div class="column-container">
                <!-- Monday courses -->
                <div class="column">
                    <event ng-repeat="course in Calendar.mondays" class="calendar-event" time="course.time" duration="course.duration" major="course.major">
                    <h5>{{course.id}}</h5>
                    <small>Beckman 201</small>
                    </event>
                    <ul class="list-unstyled">
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                    </ul>
                </div>

                <!-- Tuesday courses -->
                <div class="column">
                    <event ng-repeat="course in Calendar.tuesdays" class="calendar-event" time="course.time" duration="course.duration" major="course.major">
                    <h5>{{course.id}}</h5>
                    <small>Beckman 201</small>
                    </event>
                    <ul class="list-unstyled">
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                    </ul>
                </div>

                <!-- Wednesday courses -->
                <div class="column">
                    <event ng-repeat="course in Calendar.wednesdays" class="calendar-event" time="course.time" duration="course.duration" major="course.major">
                    <h5>{{course.id}}</h5>
                    <small>Beckman 201</small>
                    </event>
                    <ul class="list-unstyled">
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                    </ul>
                </div>

                <!-- Thursday courses -->
                <div class="column">
                    <event ng-repeat="course in Calendar.thursdays" class="calendar-event" time="course.time" duration="course.duration" major="course.major">
                    <h5>{{course.id}}</h5>
                    <small>Beckman 201</small>
                    </event>
                    <ul class="list-unstyled">
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                    </ul>
                </div>

                <!-- Friday courses -->
                <div class="column">

                    <event ng-repeat="course in Calendar.fridays" class="calendar-event" time="course.time" duration="course.duration" major="course.major">
                    <h5>{{course.id}}</h5>
                    <small>Leatherby B13</small>
                    </event>
                    <ul class="list-unstyled">
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                    </ul>
                </div>

                <!-- Saturday courses -->
                <div class="column">
                    <event ng-repeat="course in Calendar.saturdays" class="calendar-event" time="course.time" duration="course.duration" major="course.major">
                    <h5>{{course.id}}</h5>
                    <small>Beckman 201</small>
                    </event>
                    <ul class="list-unstyled">
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                        <li>
                            <div class="half"></div>
                            <div class="half"></div>
                        </li>
                    </ul>
                </div>
            </div>
            </div> <!-- end dayslots-->
            </div> <!-- end slots -->
        </div>